* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: pink;
  font-family: 'Poppins', monospace, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.centralize {
  margin: 0 auto;
  width: 100%;
  max-width: 114rem;
  padding: 0 1rem;
}
